.register-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.74);
    padding: 15px;
    color: black;
    border-radius: 20px;
  }
  a{
    color: blue;
    text-decoration:none ;
  }
  input {
    width: 100%;
    margin: 8px 0;
    border-radius: 15px;
    padding: 8px;
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  label{
    color: rgb(0, 0, 0);
    font-family: "Lilita One", serif;

  }
  p{
    color: white;
  }
  a{
    color: turquoise;
    text-decoration: none;
    /* margin-bottom: 20px; */
  }
  .error {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
  }
  